﻿@using System.Collections.Generic
@using System.Dynamic
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @{
        var localizer = new DynamicObject();
        var dic = new Dictionary<string, string>();

        var helloWorld = localizer.GetString(
            "Hello World" + "!!" +
            @"OP
asfass");

        var hello = localizer.GetString(
            "Hello", "Wilson", localizer.GetArg("simple")
            );

        var ta = localizer.Localizer["ASF"];
        var t = dic["AS"];

        var tar = localizer.GetString("ASF");
    }
</body>
</html>